@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Bold.woff2") format("woff2"),
        url("./fonts/Raleway-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Regular.woff2") format("woff2"),
        url("./fonts/Raleway-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.woff2") format("woff2"),
        url("./fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
   background-color: 
   #0B1524;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
    max-width: 1285px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 74px;
    margin-bottom: 75.5px;
}
.site-logo-img:hover path {
    fill: #62E0D9;
}
.site-nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.site-nav__item  ~ .site-nav__item {
    margin-left: 58px;
}
.site-nav__link {
    text-decoration: none;
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
transition: color 0.3s ease;
}
.site-nav__link:hover {
    color: #62E0D9;
}
.hero {
    text-align: center;
    margin-bottom: 169px;
}
.hero__img {
    width: 720px;
    height: 534px;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
}
.hero__title {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 60px;
color: #FFFFFF;
width: 734px;
margin-right: auto;
margin-left: auto;
}
.hero__subtitle {
    width: 589px;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
margin-right: auto;
margin-left: auto;
margin-bottom: 32px;
}
.hero__button {
    background-color: #48BCD2;
    /* background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%); */
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 28px;
    outline: none;
    padding: 19px 95px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    transition:  0.3s ease;
}
.hero__button:hover {
    background: #62E0D9;

}
/* ------------------ */

.section-two {
    margin-bottom: 137px;
}
.sec-two__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 920px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}
.sec-two__item {
    text-align: center;
    width: 349px;
    margin-bottom: 96px;
}
.sec-two__item--title {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}

.sec-two__item--subtitle{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
}
.section-three__link {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #62E0D9;
text-decoration: none;
border-bottom: 1px solid #62E0D9;
padding-bottom: 6px;
transition: 0.3s ease-in;
}
.section-three__link::after {
    background-image: url(./images/next.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-left: 6px;
    margin-bottom: -6px;
    content: " ";
}
.section-three__link:hover {
    transform: scale(1.1);
}
/* ====================== */

.section-three {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 180px;
}
.section-three__right {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.section-three::before {
    background-image: url(./images/bottom-illustration.png);
    background-size: 615px 464px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 615px;
    height: 464px;
    margin-right: 58px;
    content: " ";

}
.section-three__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    width: 450px;
    color: #FFFFFF;
}
.section-three__subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 563px;
}

/* ===================== */




.section-four__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}
.section-four__list::before {
    background-image: url(./images/comma.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 55px;
    height: 44px;
    z-index: -1;
transform: translateY(-125px) translateX(50px);
    content: " ";
}
.section-four__item {
    width: 360px;
    padding: 40px 26px 26px 26px;
    background: #202A3C;
    box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
    border-radius: 3.93258px;
}
.section-four__item ~ .section-four__item {
    margin-left: 40px;
}
.section-four__item > p {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.5px;
color: #FFFFFF;
}
.section-four__avatar-box {
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    width: 170px;
}
.section-four__avatar-box span{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.5px;
color: #FFFFFF;
}
.section-four__avatar-box p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.571429px;
    color: #FFFFFF;
    margin: 0;
}
.section-four__item:first-child .section-four__avatar-box::before {
    background-image: url(./images/satish-img.jpg);
    background-size: 39px 39px;
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    margin-top: 10px;
    display: inline-block;
    content: " ";
    border-radius: 100%;
    
}
.section-four__item:nth-child(2) .section-four__avatar-box::before {
    background-image: url(./images/Bruce.jpg);
    background-size: 39px 39px;
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    margin-top: 10px;
    display: inline-block;
    content: " ";
    border-radius: 100%;
}
.section-four__item:nth-child(3) .section-four__avatar-box::before {
    background-image: url(./images/Iva-img.jpg);
    background-size: 39px 39px;
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    margin-top: 10px;
    display: inline-block;
    content: " ";
    border-radius: 100%;
}
/* ---------------- */
.form {
    margin: 125px auto -116px auto;
    background: #1B2330;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
    border-radius: 9px;
    width: 863px;
    padding: 42px 70px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.form__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.form__subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 38px;
}
#email {
    background: #FFFFFF;
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    border: none;
    outline: none;
    width: 480px;
    padding: 17px 38px 15px 38px;
    margin-right: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #C0C0C0;
}
.form__button {
    background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
    box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    width: 200px;
    padding: 15px 26px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none;   
    transition: 0.s ease;
}
.form__button:hover {
    background: #63E1D9;
}
/* ---------------------- */
.footer {
    background: #0B1524;
}
.footer-wrapper {
    padding: 200px 20px 97px 20px;
}

.footer-sections {
    margin-top: 34px;
    display: flex;
    align-items: flex-start;
}
.footer__location {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 339px;  
    margin-right: 83px;  
}
.footer__location::before {
    background-image: url(./images/location-icon.svg);
    background-size: 12px 18px;
    background-repeat: no-repeat;
    width: 12px;
    height: 18px;
    display: inline-block;
    margin-left: -18px;
    margin-bottom: -4px;
    content: "";
}
.footer__link {
   margin-right: 160px;
}
.footer__link a {
    display: block;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer__phone-number::before {
    background-image: url(./images/phone-in-talk.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-left: -10px;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: -6px;

    content: " ";
}
.footer__email::before {
    background-image: url(./images/email-icon.svg);
    background-size: 20px 16px;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    display: inline-block;
    margin-left: -10px;
    margin-right: 25px;
    margin-bottom: -4px;
    content: " ";
}
.footer__about-us-list, .footer__contact-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.footer__about-us, .footer__contact,
.about-us__item a, .footer__contact-item a {
        
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
text-decoration: none;
}
.footer__about-us-box {
   margin-right: 80px;
    margin-top: -11px;
}
.footer__contact-box {
    margin-right: 114px;
    margin-top: -11px;
 
}

.footer__social-icon img:not(:last-child) {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}
.about-us__item a:hover, .footer__contact-item a:hover,
.footer__link a:hover {
    color: #63E1D9;
    transition: 0.3s ease;
}
.footer__social-icon img:hover {
    transition: 0.3s ease;
    transform: scale(1.2);
}


 /* ------------------------------- */


@media only screen and (min-width: 360px) {
   .header {
       margin-bottom: 48px;
   }
   
    .header-logo {
        width: 80px;
        height: auto;
        display: block;
    }
    
    .site-nav__item ~ .site-nav__item {
        margin-left: 24px;
    }
    .site-nav__link {
        font-size: 12px;
        line-height: 14px;
    }
 
}
@media only screen and (min-width: 450px) {
    .header-logo {
        width: 110px;
        height: auto;
        display: block;
    }
    
    .site-nav__item ~ .site-nav__item {
        margin-left: 30px;
    }
    .site-nav__link {
        font-size: 14px;
        line-height: 15px;
    }
}
@media only screen and (min-width: 650px) {
    .header {
        margin-bottom: 55px;
    }
    .header-logo {
        width: 130px;
        height: auto;
        display: block;
    }
    
    .site-nav__item ~ .site-nav__item {
        margin-left: 45px;
    }
    .site-nav__link {
        font-size: 16px;
        line-height: 17px;
    }
}
@media only screen and (min-width: 770px) {
    .header {
        margin-bottom: 76px;
    }
    .header-logo {
        width: 155px;
        height: auto;
        display: block;
    }
    
    .site-nav__item ~ .site-nav__item {
        margin-left: 55px;
    }
    .site-nav__link {
        font-size: 16px;
        line-height: 18px;
    }
}
@media only screen and (min-width: 1025px) {
    .header-logo {
        width: 176px;
        height: auto;
        display: block;
    }
    
    .site-nav__item ~ .site-nav__item {
        margin-left: 58px;
    }
    .site-nav__link {
        font-size: 16px;
        line-height: 19px;
    }
}
/* ==============Hero============ */


@media only screen and (min-width: 360px) {
    .hero {
        margin-bottom: 131px;
    }
    .hero__img {
        width: 304px;
        height: 225px;
        display: block;
        margin-bottom: 33px;
    }
    .hero__title {
        font-size: 24px;
        line-height: 36px;
        width: 320px;
    }
    .hero__subtitle {
        font-size: 14px;
        line-height: 21px;
        width: 296px;
    }
    .hero__button {
        padding: 16px 80px;
    }
}
@media only screen and (min-width: 450px) {
    .hero__img {
        width: 360px;
        height: auto;
        display: block;
    }
    .hero__title {
        font-size: 24px;
        line-height: 36px;
        width: 400px;
    }
    .hero__subtitle {
        font-size: 14px;
        line-height: 21px;
        width: 380px;
    }
  
}
@media only screen and (min-width: 600px) {
    .hero__img {
        width: 450px;
        height: auto;
        display: block;
    }
    .hero__title {
        font-size: 24px;
        line-height: 36px;
        width: 510px;
    }
    .hero__subtitle {
        font-size: 14px;
        line-height: 21px;
        width: 485px;
    }
}
@media only screen and (min-width: 770px) {
    .hero{
        margin-bottom: 150px;
    }
    .hero__img {
        width: 530px;
        height: auto;
        display: block;
        margin-bottom: 36px;
    }
    .hero__title {
        font-size: 32px;
        line-height: 48px;
        width: 620px;
    }
    .hero__subtitle {
        font-size: 17px;
        line-height: 24px;
        width: 600px;
    }
    .hero__button {
        padding: 18px 95px;
    }
}
@media only screen and (min-width: 1025px) {
    .hero{
        margin-bottom: 169px;
    }
    .hero__img {
        width: 720px;
        height: auto;
        display: block;
    }
    .hero__title {
        font-size: 40px;
        line-height: 60px;
        width: 734px;
    }
    .hero__subtitle {
        font-size: 20px;
        line-height: 30px;
        width: 589px;
    }
    .hero__button {
        padding: 19px 95px;
    }
}

/* ==============sec two========== */

@media only screen and (min-width: 360px) {
    .section-two {
        margin-bottom: 160px;
    }
    .sec-two__menu {
        width: 320px;
    }
    .sec-two__item:nth-child(4) {
        margin-bottom: 0;
    }
    .sec-two__item--title {
        font-style: 18px;
        line-height: 24px;
    }
    .sec-two__img-desktop {
        width: 65px;
        height: 60px;
    }
    .sec-two__img-security {
        width: 51px;
        height: 65px;
    }
    .sec-two__img-time {
        width: 65px;
        height: 53px;
    }
    .sec-two__img-file {
        width: 69px;
        height: 49px;
    }
    
}
@media only screen and (min-width: 460px) {
    .section-two {
        margin-bottom: 160px;
    }
    .sec-two__menu {
        width: 410px;
    }
    
    .sec-two__item--title {
        font-style: 19px;
        line-height: 24px;
    }
    .sec-two__img-desktop {
        width: 84px;
        height: auto;
    }
    .sec-two__img-security {
        width: 66px;
        height: auto;
    }
    .sec-two__img-time {
        width: 84px;
        height: auto;
    }
    .sec-two__img-file {
        width: 90px;
        height: auto;
    }
}
@media only screen and (min-width: 600px) {
    .sec-two__menu {
        width: 550px;
        justify-content: center;
    }
    .sec-two__item {
        width: 500px;
    }
    .sec-two__item--title {
            font-size: 26px;
            line-height: 35px;
    }
    .sec-two__item--subtitle {
        font-size: 16px;
        line-height: 21px;
    }
    .sec-two__img-desktop {
        width: 90px;
        height: auto;
    }
    .sec-two__img-security {
        width: 70px;
        height: auto;
    }
    .sec-two__img-time {
        width: 90px;
        height: auto;
    }
    .sec-two__img-file {
        width: 96px;
        height: auto;
    }
}
@media only screen and (min-width: 770px) {
    .sec-two__menu {
        width: 700px;
        justify-content: center;
    }
    .sec-two__item {
        width: 680px;
    }
    .sec-two__item--title {
            font-size: 29px;
            line-height: 35px;
    }
    .sec-two__item--subtitle {
        font-size: 18px;
        line-height: 21px;
    }
    .sec-two__img-desktop {
        width: 96px;
        height: auto;
    }
    .sec-two__img-security {
        width: 76px;
        height: auto;
    }
    .sec-two__img-time {
        width: 96px;
        height: auto;
    }
    .sec-two__img-file {
        width: 100px;
        height: auto;
    }

}
@media only screen and (min-width: 950px) {
    .section-two {
        margin-bottom: 40px;
    }
    .sec-two__item {
        width: 349px;
    }
    .sec-two__menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 870px;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .sec-two__item--title {
        font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    }
    
    .sec-two__item--subtitle{
        font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    }
    .sec-two__img-desktop {
        width: 84px;
        height: auto;
    }
    .sec-two__img-security {
        width: 66px;
        height: auto;
    }
    .sec-two__img-time {
        width: 90px;
        height: auto;
    }
    .sec-two__img-file {
        width: 90px;
        height: auto;
    }
}



/* =======sec-three==== */

@media only screen and (min-width: 360px) {
    .section-three {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section-three::before {
        background-image: url(./images/bottom-illustration.png);
        background-size: 304px 230px;
        background-repeat: no-repeat;
        display: inline-block;
        width: 304px;
        height: 230px;
        margin: 0 auto 48px auto;
        content: " ";
    }
    .section-three__title {
        font-size: 17px;
        line-height: 24px;
        width: 293px;
        text-align: center;
    }
    .section-three__subtitle {
        font-size: 14px;
        line-height: 21px;
        width: 320px;
    }
    .section-three__link {
        font-size: 12px;
        line-height: 16px;
    }
    .section-three__link::after {
        background-size: 15px 15px;
        width: 16px;
        height: 16px;
    }
}
@media only screen and (min-width: 460px) {
    
    .section-three::before {
        background-image: url(./images/bottom-illustration.png);
        background-size: 350px auto;
        background-repeat: no-repeat;
        display: inline-block;
        width: 350px;
        margin: 0 auto 48px auto;
        content: " ";
    }
    .section-three__title {
        font-size: 22px;
        line-height: 24px;
        width: 380px;
        
    }
    .section-three__subtitle {
        font-size: 16px;
        line-height: 21px;
        width: 380px;
    }
    .section-three__link {
        font-size: 14px;
        line-height: 16px;
    }
    .section-three__link::after {
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
    }
}


@media only screen and (min-width: 600px) {
    .section-three::before {
        background-size: 420px auto;
        width: 420px;
        height: 320px;
       
    }
   
    .section-three__title {
        font-size: 26px;
        line-height: 35px;
        width: 500px;
    }
    .section-three__subtitle {
        font-size: 16px;
        line-height: 21px;
        width: 500px;
    }

   
}
@media only screen and (min-width: 770px) {
    .section-three::before {
        background-size: 500px auto;
        width: 500px;
        height: 400px;
    }
   
    .section-three__title {
        font-size: 34px;
        line-height: 35px;
        width: 690px;
    }
    .section-three__subtitle {
        font-size: 16px;
        line-height: 21px;
        width: 690px;
    }
    .section-three__link  {
        font-size: 16px;
        line-height: 22px;
    }
    .section-three__link::after {
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
    }
   
}
@media only screen and (min-width: 1025px)  {
    .section-three {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 180px;
    }

    .section-three__right {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-right: auto;
    }
    .section-three::before {
        background-size: 450px auto;
        width: 450px;
        margin-right: 58px;
        display: block;
    }
    .section-three__title {
        font-size: 32px;
        line-height: 40px;
        width: 400px;
    }
    .section-three__subtitle {
        font-size: 16px;
        line-height: 24px;
        width: 420px;
    }
}
@media only screen and (min-width: 1276px)  {
    .section-three {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 180px;
}
    .section-three::before {
        background-size: 615px 464px;
        width: 615px;
        height: 464px;
        margin-right: 58px;
        display: block;
    }
    .section-three__title {
        font-size: 40px;
        line-height: 50px;
        width: 450px;
    }
    .section-three__subtitle {
        font-size: 16px;
        line-height: 24px;
        width: 563px;
    }
}


/* ======section four=========== */

@media only screen and (min-width: 360px) {
    .section-four__list {
      display: flex;
      flex-wrap: wrap;
    }
    .section-four__list::before {
      display: none;
    }
    .section-four__item:first-child::before {
        background-image: url(./images/comma.svg);
    background-size: contain;
    width: 20px;
    position: absolute;
    height: 18px;
    z-index: -1;
    content: " "; 
    transform: translateY(-40px) translateX(-10px);
    }
   
    .section-four__item {
        width: 280px;
        margin: 18px auto;
        padding: 24px 20px;
      
    }
    .section-four__item ~ .section-four__item {
        margin-left: auto;
        margin-right: auto;
    }
    .section-four__item > p {
        font-size: 10px;
        line-height: 18px;
    }
    .section-four__avatar-box {
        width: 120px;
        align-items: center;
    }
    .section-four__avatar-box span {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.5px;
    }
    .section-four__avatar-box p {
        letter-spacing: 0.5px;
        font-size: 7px;
        margin: 0;
        padding: 0;
    }
    .section-four__item:nth-child(1n) .section-four__avatar-box::before {
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        display: block;
    }

}
@media only screen and (min-width: 426px) {
    .section-four__item {
        width: 400px;
        margin: 20px auto;
        padding: 24px 20px;
      
    }
    .section-four__item > p {
        font-size: 13px;
        line-height: 18px;
    }
    .section-four__avatar-box {
        width: 170px;
        align-items: center;
    }
    .section-four__avatar-box span {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1px;
    }
    .section-four__avatar-box p {
        letter-spacing: 0.5px;
        font-size: 9px;
    }
    .section-four__item:nth-child(1n) .section-four__avatar-box::before {
        background-size: 39px 39px;
        width: 39px;
        height: 39px;
    }

}
@media only screen and (min-width: 600px) {
    .section-four__item {
        width: 500px;
        margin: 24px auto;
        padding: 24px 20px;
      
    }
    .section-four__item > p {
        font-size: 13px;
        line-height: 20px;
    }
}
@media only screen and (min-width: 730px) {
    .section-four__item {
        width: 320px;
        margin: 24px auto;
        padding: 24px 20px;
      
    }
    .section-four__item > p {
        font-size: 10px;
        line-height: 20px;
    }
}
@media only screen and (min-width: 850px) {
    .section-four__item {
        width: 400px;
        margin: 24px auto;
        padding: 24px 20px;
      
    }
    .section-four__item > p {
        font-size: 14px;
        line-height: 20px;
    }
}
@media only screen and (min-width: 1135px) {
    .section-four__item {
        width: 360px;
    }
    .section-four__item:first-child::before {
        background-image: url(./images/comma.svg);
    background-size: contain;
    width: 55px;
    height: 44px;
    position: absolute;
    
    z-index: -1;
    content: " "; 
    transform: translateY(-60px) translateX(-10px);
    }
    .section-four__item > p {
        font-size: 14px;
        line-height: 20px;
    }
    .section-four__item:nth-child(1n) .section-four__avatar-box::before {
        background-size: 39px 39px;
        width: 39px;
        height: 39px;
    }
    .section-four__avatar-box {
        width: 170px;
        align-items: center;
    }
}

/* ==========section ================ */

@media only screen and (min-width: 360px) {
    .form {
        margin: 160px auto 73px auto;
        width: 338px;
        padding: 40px 28px;
    }
    .form__title {
        font-size: 18px;
        line-height: 24px;
    }

    #email {
        width: 280px;
        padding: 19px 30px 15px 30px;
        font-size: 10px;
        margin-bottom: 24px;
        line-height: 14px;
    }
    .form__button {
            padding: 16px 32px;
            width: 280px;
            margin-bottom: 37px;
    }
}
@media only screen and (min-width: 600px) {
    .form {
        width: 530px;
        text-align: center;
    }
    .form__title {
        font-size: 26px;
    }
    #email {
        width: 400px;
        margin-right: 0;
        font-size: 13px;
    }
    .form__button {
        padding: 16px 32px;
        width: 400px;
        margin-bottom: 37px;
    }
}
    @media only screen and (min-width: 850px) {
        .form {
            padding: 42px 110px;
            width: 800px;
        }
        .form__title {
            font-size: 29px;
        }
        #email {
            width: 420px;
            font-size: 13px;
        }
        .form__button {
            width: 420px;
        }
    }
    @media only screen and (min-width: 1105px) {
        .form {
            margin: 125px auto -116px auto;
            background: #1B2330;
            box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
            border-radius: 9px;
            width: 863px;
            padding: 42px 70px;
            text-align: center;
            position: relative;
            z-index: 1;
        }
        .form__title {
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 48px;
            color: #FFFFFF;
            margin-bottom: 16px;
        }
        .form__subtitle {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            margin-bottom: 38px;
        }
        #email {
            background: #FFFFFF;
            box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
            border-radius: 24px;
            border: none;
            outline: none;
            width: 480px;
            padding: 17px 38px 15px 38px;
            margin-right: 29px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #C0C0C0;
        }
        .form__button {
            background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
            box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
            border-radius: 24px;
            width: 200px;
            padding: 15px 26px;
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            outline: none;   
            transition: 0.s ease;
        }
        .form__button:hover {
            background: #63E1D9;
        }
    }
/* ===========footer============ */


@media only screen and (min-width: 360px) {
    .footer-wrapper {
        padding: 20px;
    }
   
    .footer-logo {
        margin: 0 auto;
        margin-left: 20px;
    }
    .footer-sections {
        display: flex;
        flex-direction: column;
        justify-content: start;
        
    }
    .footer__location {
        margin-bottom: 30px;
        margin-left: 55px;
    }
    .footer__location::before {
        margin-left: -45px;
        margin-bottom: -4px;
        margin-right: 30px;
    }
    .footer__link {
        margin-left: 20px;
        width: 320px;
        margin-bottom: 80px;
    }
    .footer__link a {
        margin-left: 0;
    }
    .footer__about-us-box {
        margin-bottom: 50px;
        width: 320px;
    }
    .footer__social-icon {
        margin: 0 auto;
    }
    .footer__contact-box {
        margin-bottom: 80px;
    }
}
@media only screen and (min-width: 820px) {
    .footer-sections {
        margin-top: 34px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}
@media only screen and (min-width: 940px) {
    .footer__link {
        margin-left: 20px;
        width: 200px;
        margin-bottom: 80px;
    }
}
@media only screen and (min-width: 1105px) {
    .footer-wrapper {
        padding: 200px 20px 97px 20px;
    }
    .footer__link {
        margin-left: 20px;
        width: 170px;
        margin-right: 90px;
        margin-bottom: 80px;
    }
    .footer__about-us-box, .footer__contact-box {
        margin-bottom: 50px;
        width: 60px;
        margin-right: 70px;
    }

}
@media only screen and (min-width: 1285px) {

    .footer-wrapper {
        padding: 200px 20px 97px 20px;
    }
    
    .footer-sections {
        margin-top: 34px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .footer__location {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        width: 339px;  
        margin-right: 80px;  
    }
    .footer__location::before {
        background-image: url(./images/location-icon.svg);
        background-size: 12px 18px;
        background-repeat: no-repeat;
        width: 12px;
        height: 18px;
        display: inline-block;
        margin-left: -30px;
        margin-right: 15px;
        margin-bottom: -4px;
        content: "";
    }
    .footer__link {
       margin-right: 140px;
    }
    .footer__link a {
        display: block;
        text-decoration: none;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    .footer__phone-number::before {
        background-image: url(./images/phone-in-talk.svg);
        background-size: 18px 18px;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        margin-left: -10px;
        display: inline-block;
        margin-right: 25px;
        margin-bottom: -6px;
    
        content: " ";
    }
    .footer__email::before {
        background-image: url(./images/email-icon.svg);
        background-size: 20px 16px;
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        display: inline-block;
        margin-left: -10px;
        margin-right: 25px;
        margin-bottom: -4px;
        content: " ";
    }

    .footer__about-us-box {
       margin-right: 80px;
        margin-top: -11px;
    }
    .footer__contact-box {
        margin-right: 114px;
        margin-top: -11px;
     
    }
    .footer__social-icon {
        margin: 0;
    }
    
}